/* header-section */
.header-root {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
}
.header-content {
  max-width: 1300px;
  margin: 0 auto;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-navigation-side ul {
  display: flex;
}
.header-navigation-side li {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  list-style: none;
  padding: 20px 20px;
  cursor: pointer;
}
.header-search-icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-search-icon i {
  font-size: 24px;
}
.homeburger-menu {
  font-size: 24px;
}

/* footer-section */
.footer-root {
  width: 100%;
}
.footer-content {
  max-width: 1300px;
  margin: 0 auto;
  padding: 30px 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(243, 241, 241);
}
.footer-div-1 {
  max-width: 25%;
}
.footer-div-2 h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.footer-div-2 ul {
  margin-top: 25px;
}
.footer-div-2 li {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  list-style: none;
  margin-top: 10px;
}
.footer-div-1 p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin-top: 25px;
}

/* footer-last-section */
.footer-last-section {
  width: 100%;
}
.footer-last-content {
  max-width: 1300px;
  margin: 0 auto;
  padding: 30px 15px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.footer-last-div-1 h4 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.footer-last-div-1 h5 {
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
}
.footer-last-div-1 ul {
  display: flex;
}
.footer-last-div-1 li {
  padding: 16px 30px 16px 0;
  list-style: none;
}
.footer-social-icon i {
  font-size: 20px;
}
.footer-last-div-1 li :hover {
  background-color: #0089f6;
  color: white;
}
.footer-social-icon .ri-youtube-fill:hover {
  background-color: #ff0000;
}
.footer-social-icon .ri-instagram-line:hover {
  background-color: #ff4433;
}

@media (min-width: 941px) and (max-width: 1025px) {
  /* header-section */
  .header-navigation-side ul {
    display: none;
  }
  .header-search-icon i {
    display: none;
  }
  .homeburger-menu {
    display: block;
  }

  /* footer-section */
  .footer-content {
    width: 100%;
    padding: 30px 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-div-1 {
    max-width: 100%;
    max-width: 100%;
  }
  .support {
    margin-top: 80px;
  }
  .company {
    padding-left: 50px;
  }
}
@media (min-width: 1025px) and (max-width: 1350px) {
  /* footer-section */
  .footer-content {
    width: 100%;
    padding: 30px 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-div-1 {
    max-width: 100%;
    max-width: 100%;
  }
  .support {
    margin-top: 80px;
  }
  .company {
    padding-left: 50px;
  }
}
@media only screen and (min-width: 700px) and (max-width: 940px) {
  /* header-section */
  .header-navigation-side ul {
    display: none;
  }
  .header-search-icon i {
    display: none;
  }
  .homeburger-menu {
    display: block;
  }
  /* footer-section */
  .footer-content {
    width: 100%;
    padding: 30px 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-div-1 {
    max-width: 100%;
    max-width: 100%;
  }
  .footer-div-1 p {
    font-size: 16px;
  }
  .footer-div-2 li {
    font-size: 15px;
  }
  .support {
    margin-top: 80px;
  }
  .cms-page {
    margin-top: 80px;
  }
  .company {
    padding-left: 50px;
  }

  /* footer-last-section */
  .footer-last-content {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .footer-last-div-1 h4 {
    font-size: 16px;
  }
  .footer-last-div-1 h5 {
    font-size: 15px;
  }
  .social {
    margin-top: 30px;
  }
}

@media (min-width: 600px) and (max-width: 699px) {
  /* header-section */
  .header-navigation-side ul {
    display: none;
  }
  .header-search-icon i {
    display: none;
  }
  .homeburger-menu {
    display: block;
  }

  /* footer-section */
  .footer-content {
    width: 100%;
    padding: 30px 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-div-1 {
    max-width: 100%;
    max-width: 100%;
  }
  .footer-div-1 p {
    font-size: 16px;
  }
  .footer-div-2 li {
    font-size: 15px;
  }
  .support {
    margin-top: 80px;
  }
  .cms-page {
    margin-top: 80px;
  }
  .company {
    padding-left: 50px;
  }

  /* footer-last-section */
  .footer-last-content {
    max-width: 100%;
    flex-wrap: wrap;
  }
  .footer-last-div-1 h4 {
    font-size: 16px;
  }
  .footer-last-div-1 h5 {
    font-size: 15px;
  }
  .social {
    margin-top: 30px;
  }
  .address {
    margin-top: 0;
  }
}

@media (min-width: 501px) and (max-width: 599px) {
  /* header-section */
  .header-navigation-side ul {
    display: none;
  }
  .header-search-icon i {
    display: none;
  }
  .homeburger-menu {
    display: block;
  }

  /* footer-section */
  .footer-content {
    width: 100%;
    padding: 30px 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-div-1 {
    max-width: 100%;
    max-width: 100%;
  }
  .footer-div-1 p {
    font-size: 16px;
  }
  .footer-div-2 li {
    font-size: 15px;
  }
  .support {
    margin-top: 80px;
  }
  .cms-page {
    margin-top: 80px;
  }
  .company {
    padding-left: 50px;
  }

  /* footer-last-section */
  .footer-last-content {
    max-width: 100%;
    flex-wrap: wrap;
  }
  .footer-last-div-1 h4 {
    font-size: 16px;
  }
  .footer-last-div-1 h5 {
    font-size: 15px;
  }
  .social {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 500px) {
  /* header-section */
  .header-navigation-side ul {
    display: none;
  }
  .header-search-icon i {
    display: none;
  }
  .homeburger-menu {
    display: block;
  }

  /* footer-section */
  .footer-content {
    width: 100%;
    padding: 30px 25px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-div-1 {
    max-width: 100%;
    max-width: 100%;
  }
  .footer-div-1 p {
    font-size: 16px;
  }
  .footer-div-2 li {
    font-size: 15px;
  }
  .support {
    margin-top: 30px;
  }
  .cms-page {
    margin-top: 30px;
  }
  .company {
    margin-top: 30px;
  }

  /* footer-last-section */
  .footer-last-content {
    max-width: 100%;
    flex-wrap: wrap;
  }
  .footer-last-div-1 h4 {
    font-size: 16px;
  }
  .footer-last-div-1 h5 {
    font-size: 15px;
  }
  .social {
    margin-top: 30px;
  }
}

@media (min-width: 320px) and (max-width: 400px) {
  .address {
    margin-top: 20px;
  }
}
